@import '../functions.scss';
@import '../tokens.scss';

.button {
  appearance: none;
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-weight: bolder;

  @include withMode() {
    background-color: t('highlight');
    color: t('background');
    &:focus,
    &:hover {
      background-color: mix(white, t('highlight'), 50);
    }
  }
}
