@import 'tokens.scss';
@import 'functions.scss';

// Global styles

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

// Base to apply theme

#__next {
  @include withMode() {
    background: t('background');
    color: t('text');
  }
}

// Container

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 3rem;
}

// Header

.header__title {
  margin: 0 0 4rem 0;
  font-size: 4rem;
  line-height: 1;
}

// Grid

.grid {
  display: grid;
  grid-gap: 32px;
}

@for $i from 1 through 3 {
  .grid--#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

// Options

.options {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  justify-content: start;
  margin-bottom: 4rem;
}

.options__group {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 1px;
}

.options__group__item {
  &:not(.options__group__item--active) {
    opacity: 0.4;
  }
}
